
body > #working
{
	display: block;
}
body > #commands
{
	position: absolute;
	bottom: 0;
	width: 100%;
}
body > #commands > #left
{
	float : left;
	width: 50%;
}
body > #commands > #right
{
	float : right;
	width: 50%;
	border-style: solid;
	background-color: brown;
	margin : 5px;
	padding : 5px;
}
body > #commands > #right > *
{
	float : right;
}
	
body > #commands > #right > #stepcmd 
{
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
body > #menu > #programs > div
{
	color : inherit;
}

@media screen and (max-width : 299px)
{
	
}
@media screen and (min-width: 300px) and (max-width : 599px)
{
	
}
@media screen and (min-width: 600px) and (max-width : 899px)
{
	
}
@media screen and (min-width: 900px) and (max-width : 1199px)
{
	
}
@media screen and (min-width: 1200px)
{
	body > #menu > #programs > div
	{
		min-width : 15%;
	}
}





