
body > #working
{
	display: block;
}
body > #commands
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height : 1.4em;
	padding-top : 0.2em;
	background-color: royalblue;	
}
body > #commands > #left
{
	float : left;
	width: 50%;
}
body > #commands > #right
{
	float : right;
	width: 50%;
	height : 100%;
}
body > #commands > #right > *
{
	float : right;
}

.cmd 
{
  background-color: lightgray;
  color: black;
  margin-right: 8px;
  border: none;
  padding-left : 0.3em;
  padding-right : 0.3em;
}
body > #menu > #programs > div
{
	color : inherit;
}
#itemBrief
{
	font-size: 100%;
}
body > #work
{
	min-height : 80%;
}
#itemBrief
{
	font-size: 100%;
	min-height : 33.3%;
	font-weight: bold;
}
body > #menu > #programs > div
{
	min-width : 50%;
}
body > #menu > #programs > #order, body > #menu > #programs > #item
{
	color: white;
}


@media screen and (max-width : 299px)
{
	
}
@media screen and (min-width: 300px) and (max-width : 599px)
{
	
}
@media screen and (min-width: 600px) and (max-width : 899px)
{
	
}
@media screen and (min-width: 900px) and (max-width : 1199px)
{
	
}
@media screen and (min-width: 1200px)
{
	body > #menu
	{
		height: 2.2em;
		font-size : 1em;
	}
}





